@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700|Sans+Serif:400,500,600,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  font-size: var(--html-font-size);
  background: var(--color-martian-gray);
  color: var(--color-martian-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "open sans", sans-serif;
}

.page-title {
  padding: 3rem;
  font-size: 3rem;
  color: var(--color-martian-red);
}

.flex-col-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
