.back-btn-wrapper {
  max-width: 800px;
  width: 80%;
}

.back-btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-martian-dark);
}

.arrow-left {
  margin-right: 0.5rem;
}

.back-btn:hover .arrow-left {
  transform: scaleX(1.25);
}
