.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}

.row {
  padding-top: 2rem;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.row button {
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: var(--color-martian-lightgray);
  font-weight: 700;
  background: var(--color-martian-red);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover {
  opacity: 0.8;
}

.button {
  padding-bottom: 1.5rem;
}
